---
import type { GetStaticPaths } from "astro";
import { blogPosts } from "~/content/content";
import BaseLayout from "~/layouts/BaseLayout.astro";

export const getStaticPaths = (() => {
  return blogPosts.map((post) => ({ params: { slug: post.slug }, props: { post } }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content } = await post.render();
---

<BaseLayout>
  <span> <a href="/">bkh.kz</a> / <a href="/blog">blog</a> / {post.data.title}</span>
  <article class="prose">
    <Content />
  </article>
</BaseLayout>
