---
import { blogPosts } from "~/content/content";
import BaseLayout from "~/layouts/BaseLayout.astro";
---

<BaseLayout>
  <span> <a href="/">bkh.kz</a> / blog</span>
  <h1>Posts</h1>
  <main>
    <ul>
      {
        blogPosts.map((post) => (
          <li>
            <a href={post.slug}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>
