---
import "@fontsource/geist-mono";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Bkh</title>
  </head>
  <body
    class="mx-auto mt-[3%] flex max-w-screen-sm flex-col gap-y-5 font-mono text-sm text-neutral-950 selection:bg-neutral-950 selection:text-neutral-100"
  >
    <div>
      <h1>Bkh</h1>
      <p>Web Engineer</p>
    </div>
    <div>
      <h2 class="mb-2">About me</h2>
      <ul class="list-disc pl-6">
        <li>Based in Almaty, Kazakhstan</li>
        <li>I like building things, <br /> tackling different challenges</li>
        <li>I enjoy exploring new things about <br /> techlogies, innovations in web</li>
        <li>Interested in crafting beautiful interfaces, <br /> experiences</li>
      </ul>
    </div>
    <div>
      <h2 class="mb-2">Projects</h2>
      <ul class="flex flex-col gap-y-2 pl-6">
        <li class="flex flex-col gap-y-1">
          <a href="https://personaai.vercel.app/" class="w-fit underline decoration-dotted">Persóna</a>
          <p>
            Persóna was created during the
            <a
              href="https://satbayev.university/en/news/almost-a-secret-gathering-of-programmers-nfactorial-ai-cup-2023-was-held-at-satbayev-university"
              class="underline decoration-dotted">nFactorial AI Cup.</a
            >
            nFactorial AI Cup was a generative AI hackathon for developers, which took place from April 7 to 9, 2023. I participated
            in the App track, the goal was to create an app in 48 hours using any available generative AI.
          </p>
        </li>
        <li class="flex flex-col gap-y-1">
          <a href="https://nefisfood.kz/en/" class="w-fit underline decoration-dotted">Nefis Food</a><p>
            Nefis Food is a company founded by my relatives that makes sugar, coffee and other products. They needed a
            digital presence for their brand in the form of a website, and I helped them with that.
          </p>
        </li>
      </ul>
    </div>
    <div>
      <h2 class="mb-2">Now</h2>
      <p class="pl-6">
        Currently, I work as a frontend developer at <a
          href="https://globerce.capital/en"
          class="underline decoration-dotted">Globerce Capital</a
        >, <br /> in a team where we build a delivery management system(SaaS) <br /> for any business.
      </p>
    </div>
    <div>
      <h2 class="mb-2">Contact</h2>
      <ul class="list-disc pl-6">
        <li><a href="https://twitter.com/khajimatov" class="underline decoration-dotted">Twitter</a></li>
        <li><a href="https://github.com/khajimatov" class="underline decoration-dotted">GitHub</a></li>
        <li><a href="https://read.cv/bkh" class="underline decoration-dotted">Read.cv</a></li>
        <li><a href="mailto:me@bkh.kz" class="underline decoration-dotted">Email</a></li>
      </ul>
    </div>
  </body>
</html>
