---
import "@fontsource/geist-mono";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Bkh</title>
  </head>
  <body
    class="mx-auto mt-[5%] flex w-fit flex-col gap-y-5 font-mono text-neutral-950 selection:bg-neutral-950 selection:text-neutral-100"
  >
    <div>
      <h1>Bkh</h1>
      <p>Web Engineer</p>
    </div>
    <div>
      <h2 class="mb-2">About me</h2>
      <ul class="list-disc pl-6">
        <li>Based in Almaty, Kazakhstan</li>
        <li>I like building things, <br /> tackling different challenges</li>
        <li>I enjoy exploring new things about <br /> techlogies, innovations in web</li>
        <li>Interested in crafting beautiful interfaces, <br /> experiences</li>
      </ul>
    </div>
    <div>
      <h2 class="mb-2">Projects</h2>
    </div>
    <div>
      <h2 class="mb-2">Now</h2>
      <p class="pl-6">
        Currently, I work as a frontend developer at <a
          href="https://globerce.capital/en"
          class="underline decoration-dotted">Globerce Capital</a
        >, <br /> in a team where we build a delivery management system(SaaS) <br /> for any business.
      </p>
    </div>
    <div>
      <h2 class="mb-2">Connect</h2>
      <ul class="list-disc pl-6">
        <li><a href="https://twitter.com/khajimatov" class="underline decoration-dotted">Twitter</a></li>
        <li><a href="https://github.com/khajimatov" class="underline decoration-dotted">GitHub</a></li>
        <li><a href="mailto:me@bkh.kz" class="underline decoration-dotted">Email</a></li>
      </ul>
    </div>
  </body>
</html>
